[submodule "lyric-search-engine/frontend"]
	path = lse/frontend
	url = https://github.com/ernestchu/lyric-search
[submodule "lyric-search-engine/backend"]
	path = lse/backend
	url = https://huggingface.co/spaces/ernestchu/lyric-search
